.App {
  text-align: center;
}

.header {
	background-color: #222;
	  color: white;
}

.searchBox {
  margin-top:4em;
}

.departmentsGrid{
  margin-top:4em;
}
.App-logo {
   max-height: 100%;
    max-width: 100%;

}

.App-title {
  font-size: 1.5em;
}
